<a href="https://colab.research.google.com/github/Ankan1998/Hackathons/blob/main/HackerEarth_Carnival_Wars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Checking the dataset

In [1]:
import pandas as pd 
import numpy as np

In [2]:
train=pd.read_csv("/content/drive/MyDrive/Hackathon/HackerEarth Machine Learning Challenge: Carnival Wars/dataset/train.csv")
test=pd.read_csv("/content/drive/MyDrive/Hackathon/HackerEarth Machine Learning Challenge: Carnival Wars/dataset/test.csv")
sample=pd.read_csv("/content/drive/MyDrive/Hackathon/HackerEarth Machine Learning Challenge: Carnival Wars/dataset/sample_submission.csv")

In [3]:
train.head()

         Product_id  Stall_no  ... Maximum_price  Selling_Price
0  BRAE2NF6JA5GUEXG      37.0  ...        4713.0    4185.947700
1  TUNE8SFB6RJN2HSD      38.0  ...       10352.0    9271.490256
2  BRAEAR7WZPQGPBZU       9.0  ...        7309.0    6785.701362
3  WATDZ2ZQ8JPDHCTJ      50.0  ...       20814.0   13028.917824
4  JWSEBUKYQPMBZ3RK       7.0  ...        9261.0     906.553935

[5 rows x 15 columns]

In [4]:
test.head()

         Product_id  Stall_no  ... Minimum_price  Maximum_price
0  SCHE4YSTDVPVZVXW      39.0  ...        2576.0           3340
1  ACCEGCATKHNRXUHW      49.0  ...        1202.0           1955
2  NKCE6GJ5XVJDXNNZ       1.0  ...        7175.0          15715
3  NKCEB8BK3ZXDHDHM       8.0  ...        5404.0          13078
4  TOPEFDXSAHRNPF94      33.0  ...        4069.0           6244

[5 rows x 14 columns]

In [5]:
sample.head()

         Product_id  Selling_Price
0  SCHE4YSTDVPVZVXW    3294.594688
1  ACCEGCATKHNRXUHW    1945.603968
2  NKCE6GJ5XVJDXNNZ   11871.830880
3  NKCEB8BK3ZXDHDHM    9421.143424
4  TOPEFDXSAHRNPF94    5717.420625

### Inspecting Train Set